.tarjetas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    top: 150px;
    margin: 50px;


    }
    .card{
        margin: 20px;

    }
    aside{
        margin: 20px;
        right: 50px;
    }
   